# version: '3.8'
services:
  # 1. Main Django Application (Web API)
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - main_db
      - redis

  # 2. Celery Worker (Asynchronous Task Processor for Verification Pipeline)
  celery:
    build: .
    command: celery -A core worker -l info
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - main_db
      - redis

  # 3. PostgreSQL Database (Main DB - Stores global data: Accounts, Admins)
  main_db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  # 4. Redis (Cache and Celery Broker/Backend)
  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

volumes:
  postgres_data: